.resource-form {
    margin: auto;
    margin-top: 80px;
}

.resource-form__space {
    width: 100%;
}

.resource-table {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.resource-table__action {
    text-transform: uppercase;
}

.resource-table__row {
    vertical-align: top;
}

.editable-cell__input.ant-form-item{
    margin: 0px;
}

@media (max-width: 1000px) {
    .resource-table__actions-container {
        flex-direction: column;
    }

    .resource-table__action {
        margin-bottom: 10px;
    }
}
